*{
    margin: 0;
    padding: 0;
    
}
#nav{
    height:60px;
    width: 100%;
    border:1px solid black;
    display:flex; 
    justify-content: space-evenly;
    background-color: #333545;
}
/* style for registration page */
#userReg{
    height:500px;
    width:300px;
    border:1px solid black;
    margin: auto;
    text-align: center;
}

.USR {
   margin-right:100px;
   
}

/* style for emailLogin page */
#EL{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    margin: 40%;
    margin-top: 60px;
    position: absolute;
    text-align: center; 
}
#EL> h1{
    margin-top: 30px;
}

#EL>div>:nth-child(1){
    margin-left:-65%;
    margin-top: 20px;
}
#EL > div>:nth-child(2){
    width: 300px;
    height: 30px;
}
#EL > button {
    width: 300px;
    height: 30px;
    background-color: ;
}

/* 
style for emailLogin page end here */
#compressor{
    height:60px;
    width:80%;
    /* border:1px solid black; */
    display: flex;
    justify-content:space-between;
}
#navshrinkL{
    height:60px;
    width:60%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-around;
}
#logo{
    height:40px;
    width: 200px;
    /* border: 1px solid black; */
    margin-top: 10px;
}
#logopic{
    height:35px;
    width: 200px;
    margin-top: 2px;
    object-fit: cover;
    background-color: #333545;
}
#inputDiv{
    height:40px;
    width: 450px;
    border:1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
}
#inputDiv > i{
    margin-left: 8px;
    margin-top: 10px;
    opacity: 0.5;
}
.navInput{
    height:38px;
    width:410px;
    margin-left: 10px;
    border:none;
}
#navshrinkR{
    height:60px;
    width: 25%;
    /* border: 1px solid black; */
    display:flex;
    justify-content: space-around;
}
#location{
    height: 30px;
    width:80px;
    /* border:1px solid black; */
    margin-top: 15px;
    display:flex;
}
.drop{
    background-color: #333545;
    color: white;
    border: none;
    outline: none;
}
#location>:nth-child(1){
    margin-top: 5px;
    color: white;
}

#signinBt{
    height: 30px;
    width:80px;
    /* border:1px solid black; */
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #f84464;
    color: white;
}
#signinBt:hover{
    cursor:pointer
}
#signinBt>:nth-child(1){
    margin-top: 8px;
    font-size: small;
}
#threeLines{
    height: 25px;
    width:40px;
    /* border:1px solid black; */
    margin-top: 20px;
}
#threeLines> i {
 margin: 10px;
 color: white;
}
#smallNav{
    height:40px;
    width:100%;
    /* border:1px solid black; */
    background-color: #222539;
    display: flex;
    justify-content: space-evenly;
}
#alignDiv{
    height: 39px;
    width:80%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
}
#catL{
    height:38px;
    width:40%;
    /* border:1px solid black; */
}
#catL > ul{
    margin-top: 5px;
}
#catL > ul > li{
    display: inline;
    margin-left: 18px;
    color: white;
}
#catL > ul > li > sup{
    color: red;
    font-size: small;
}

#catR{
    height:38px;
    width:30%;
    /* border:1px solid black; */
}
#catR > ul{
margin-top: 5px;
}
#catR >ul > li{
    display: inline;
    margin-left: 12px;
    color: white;
}
#catR >ul > li> sup{
    color: red;
}
#promotion{
    height:300px;
    width:100%;
    /* border:1px solid black; */
}

#promotion > img{
    height: 280px;
    margin-left: 12%;
    border-radius: 10px;
    margin-top: 10px;
    object-fit: cover;
}
#recmov{
    height:500px;
    width: 80%;
    margin-left: 10%;
    /* border:1px solid black; */
}
#label{
    height:40px;
    width: 100%;    
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
}

#recomend{
    height:39px;
    width: 350px;
    /* border: 1px solid black; */
}
#recomend > p{
    font-weight: bold;
    font-size: x-large;
    
}
#see{
    height:19px;
    width:80px;
    margin-top: 10px;
    /* border:1px solid black; */
}
#see> a {
    color: red;
    text-decoration: none;
    
}
.movieDivalign{
    height:450px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
}
.movDiv{
height:450px;
width:220px;
/* border:1px solid black; */
border-top: 5px;
}
.movieFrame{
    height:363px;
    width:220px;
    /* border:1px solid black; */
    border-radius: 10px;
}

.movieFrame> img{   
    object-fit:cover;
    width: 100%;
    border-radius: 5px;
}
.movieTitle{
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;

}
.movieGenre{
    opacity: 0.7;
    margin-top: 10px;
}
#bookStreamAd{
    height:200px;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid black; */
}
#bookStreamAd> div{
height:100px;
width: 100%;
/* border: 1px solid black; */
margin-top: 50px;
}
.bookStreamAdPic{
    width: 100%;
    object-fit: cover;
}
.BOE{
    height:330px;
    width: 80%;
    margin-left: 10%;
    /* border:1px solid black; */

}
.BoeIntro{
height:50px;
width:100%;
/* border:1px solid black; */
}
.BoeIntro> p{
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
}
.BOE-align{
    height:280px ;
    width:100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-around;
}
.BOEPIC{
    height:230px;
    width:230px;
    margin-top: 10px;
    /* border:1px solid black; */
}
.BOEPIC> img{
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}
.nexttag{
    position: absolute;
    margin-top: 7%;
    margin-left: 80%;
    height: 40px;
    width:40px;
    /* border:1px solid black; */
    border-radius: 20px;
    background-color: gray;
}
.nexttag> i{
    margin-top: 10px;
    margin-left: 15px;
    color: white;
}
#premiBg{
    height:640px;
    width:100%;
    margin-right:0%;
    /* border:1px solid black; */
    background-color: #2b3148;
}
#premiDiv{
    height:120px;
    width: 80%;
    margin-left: 10%;
    /* border:1px solid black; */
}
#premiDiv> img{
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
}
#primiere{
    height:519px;
    width: 80%;
    margin-left: 10%;
    /* border:1px solid black; */
}
#primiereLabel{
    height:80px;
    width: 80%;
    margin-left: 10%;    
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
}
#primName{
    height:79px;
    width: 350px;
    /* border: 1px solid black; */
}
.primBolt{
    font-size: large;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}
.primeUnbolt{
    margin-top: -15px;
    color: white;
}
.movieDivalign-New{
    height:430px;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
}
.movDivS{
    height:420px;
    width:220px;
    /* border:1px solid black; */
    border-top: 5px;
    }
.movieFrameS{
    height:331px;
    width:220px;
    /* border:1px solid black; */
    border-radius: 10px;
}

.movieFrameS> img{   
    object-fit:cover;
    width: 100%;
    border-radius: 5px;}

.movieTitleW{
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
    color: white;

}
.movieGenreW{
    opacity: 0.7;
    margin-top: 10px;
    color: white;
}
footer{
    height:auto;
    width: 100%;
    /* border:1px solid black; */
    background-color:#303243;
}
#fLabel{
    height:60px;
    width:80%;
    margin-left: 10%;
    /* border:1px solid black; */
    
    display: flex;
    justify-content: space-between;
    
}
#hut{
    height:40px;
    width:50px;
    /* border:1px solid black; */
    margin-top: 10px;
}
#hut>img{
    /* border:1px solid black; */
    margin-left: 8px;
    margin-top: 2px;
}

#contUs{
    height:40px;
    width:1000px;
    /* border:1px solid black; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#spreadH{
    font-weight: bold;
    font-size: larger;
    margin-top: 20px;
    color: white;
}
#spreadH-nom{
    margin-top: 10px;
    color: white;
}
#conBt{
    height:40px;
    width:180px;
    /* border:1px solid black; */
    background-color: #f84464;
    border-radius: 3px;
    color: white;
}
#conBt> p{
    margin-top: 10px;
    text-align: center;
}
#help{
    height:140px;
    width:100%;
    /* border:1px solid black; */
    background-color: #404043; 
}
#helpDiv{
    height: 140px;
    width:80%;
    margin-left: 10%;
    /* border:1px solid black; */
    display:flex;
    justify-content: space-around;
}
.logopic{
    width: 100%;
    object-fit: contain;
}
#articles{
    height:850px;
    width: 80%;
    margin-left: 10%;
    /* border:1px solid black; */
}
.artHead{
    font-weight: bold;
    font-size:medium;
    color: rgb(153, 153, 153);
    margin-top: 10px;
}
.artDes{
    color: rgb(127, 127, 127);
    margin-top: 10px;

}
.logoCont{
    height:100px;
    width: 95%;
    margin-left: 2.5%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
} 
.logInnerCont{
    height:99px;
    width:42%;
    /* border:1px solid black; */
}
.logimg{
    width:226px;
    
}
.smallLog{
    height:49.5px;
    width:100%;
    border-bottom:1px solid black;
}
.iconsDiv{
    height:50px;
    width: 300px;
    border:1px solid black;
    margin-left: 40%;
}
.fa-brands{
    margin-top: 25px;
    margin-left: 12px;
    color: rgb(127, 127, 127);
}
.fa-brands:hover{
    color: white;
}